## Florida Pre and Post Policy Mortality Rate by Year-State-County from Drug Induced Cause

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

### Florida Pre-Policy Mortality

In [3]:
# load mortality the data

death03 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2003.txt",
    error_bad_lines=False,
    sep="\t",
)
death04 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2004.txt",
    error_bad_lines=False,
    sep="\t",
)
death05 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2005.txt",
    error_bad_lines=False,
    sep="\t",
)
death06 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2006.txt",
    error_bad_lines=False,
    sep="\t",
)
death07 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2007.txt",
    error_bad_lines=False,
    sep="\t",
)
death08 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2008.txt",
    error_bad_lines=False,
    sep="\t",
)
death09 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2009.txt",
    error_bad_lines=False,
    sep="\t",
)
death10 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2010.txt",
    error_bad_lines=False,
    sep="\t",
)
death11 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2011.txt",
    error_bad_lines=False,
    sep="\t",
)
death12 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2012.txt",
    error_bad_lines=False,
    sep="\t",
)
death13 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2013.txt",
    error_bad_lines=False,
    sep="\t",
)
death14 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2014.txt",
    error_bad_lines=False,
    sep="\t",
)
death15 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2015.txt",
    error_bad_lines=False,
    sep="\t",
)

In [4]:
# concatinate all pre-policy data

pre_policy = pd.concat(
    [death03, death04, death05, death06, death07, death08, death09], ignore_index=True
)

In [5]:
pre_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,NaN,"Barbour County, AL",1005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...,...
29823,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29824,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
29825,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29826,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29827,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Subset to Florida data

pre_policy[["County1", "State"]] = pre_policy.County.str.split(",", expand=True)
pre_policy_fl = pre_policy[pre_policy["State"] == " FL"]
pre_policy_fl.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
500,NaN,"Alachua County, FL",12001.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,Alachua County,FL
501,NaN,"Alachua County, FL",12001.0,2003.0,2003.0,All other alcohol-induced causes,A9,11.0,Alachua County,FL
502,NaN,"Alachua County, FL",12001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1568.0,Alachua County,FL
503,NaN,"Baker County, FL",12003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,200.0,Baker County,FL
504,NaN,"Bay County, FL",12005.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,21.0,Bay County,FL

In [7]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

pre_policy_fl = pre_policy_fl.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
pre_policy_fl = pre_policy_fl.rename(columns={"County1": "County"})

In [8]:
pre_policy_fl.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
500,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,Alachua County,FL
501,2003.0,All other alcohol-induced causes,A9,11.0,Alachua County,FL
502,2003.0,All other non-drug and non-alcohol causes,O9,1568.0,Alachua County,FL
503,2003.0,All other non-drug and non-alcohol causes,O9,200.0,Baker County,FL
504,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,21.0,Bay County,FL

In [9]:
len(pre_policy_fl["County"].unique())

67

In [10]:
# obtain codes for mortality for drug related causes

pre_policy_fl.groupby(
    ["Drug/Alcohol Induced Cause Code", "Drug/Alcohol Induced Cause"], as_index=False
).mean()

,Drug/Alcohol Induced Cause Code,Drug/Alcohol Induced Cause,Year,Deaths
0,A1,"Alcohol poisonings (overdose) (X45, X65, Y15)",2008.500000,13.000000
1,A9,All other alcohol-induced causes,2006.075630,44.084034
2,D1,Drug poisonings (overdose) Unintentional (X40-...,2005.991416,60.017167
3,D2,Drug poisonings (overdose) Suicide (X60-X64),2006.170213,21.670213
4,D4,Drug poisonings (overdose) Undetermined (Y10-Y14),2006.833333,15.416667
5,D9,All other drug-induced causes,2005.821429,20.892857
6,O9,All other non-drug and non-alcohol causes,2006.000000,2465.405117

In [11]:
# subset to mortality to drug related causes

pre_policy_fl_drug = pre_policy_fl[
    (pre_policy_fl["Drug/Alcohol Induced Cause Code"] == "D1")
    | (pre_policy_fl["Drug/Alcohol Induced Cause Code"] == "D2")
    | (pre_policy_fl["Drug/Alcohol Induced Cause Code"] == "D4")
    | (pre_policy_fl["Drug/Alcohol Induced Cause Code"] == "D9")
]

In [12]:
pre_policy_fl_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
500,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0,Alachua County,FL
504,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,21.0,Bay County,FL
508,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,83.0,Brevard County,FL
509,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,14.0,Brevard County,FL
512,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,170.0,Broward County,FL

In [13]:
# arrange by unique identifier: Year-State-County

pre_policy_fl_drug = pre_policy_fl_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()
pre_policy_fl_drug.head()

     Year State          County  Deaths
0  2003.0    FL  Alachua County    11.0
1  2003.0    FL      Bay County    21.0
2  2003.0    FL  Brevard County    97.0
3  2003.0    FL  Broward County   230.0
4  2003.0    FL   Citrus County    16.0

In [14]:
# convert year datatype from float to int

pre_policy_fl_drug["Year"] = pre_policy_fl_drug["Year"].astype(int)
pre_policy_fl_drug.head()

   Year State          County  Deaths
0  2003    FL  Alachua County    11.0
1  2003    FL      Bay County    21.0
2  2003    FL  Brevard County    97.0
3  2003    FL  Broward County   230.0
4  2003    FL   Citrus County    16.0

### Florida Post-Policy Mortality

In [15]:
# concatinate all post-policy data

post_policy = pd.concat(
    [death10, death11, death12, death13, death14, death15], ignore_index=True
)

In [16]:
post_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2010.0,2010.0,All other non-drug and non-alcohol causes,O9,429
1,NaN,"Baldwin County, AL",1003.0,2010.0,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,24
2,NaN,"Baldwin County, AL",1003.0,2010.0,2010.0,All other alcohol-induced causes,A9,17
3,NaN,"Baldwin County, AL",1003.0,2010.0,2010.0,All other non-drug and non-alcohol causes,O9,1754
4,NaN,"Barbour County, AL",1005.0,2010.0,2010.0,All other non-drug and non-alcohol causes,O9,281
...,...,...,...,...,...,...,...,...
27603,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27604,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
27605,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27606,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27607,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# subset to Florida data

post_policy[["County1", "State"]] = post_policy.County.str.split(",", expand=True)
post_policy_fl = post_policy[post_policy["State"] == " FL"]
post_policy_fl.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
543,NaN,"Alachua County, FL",12001.0,2010.0,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,15,Alachua County,FL
544,NaN,"Alachua County, FL",12001.0,2010.0,2010.0,All other alcohol-induced causes,A9,25,Alachua County,FL
545,NaN,"Alachua County, FL",12001.0,2010.0,2010.0,All other non-drug and non-alcohol causes,O9,1672,Alachua County,FL
546,NaN,"Baker County, FL",12003.0,2010.0,2010.0,All other non-drug and non-alcohol causes,O9,226,Baker County,FL
547,NaN,"Bay County, FL",12005.0,2010.0,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22,Bay County,FL

In [18]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

post_policy_fl = post_policy_fl.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
post_policy_fl = post_policy_fl.rename(columns={"County1": "County"})
post_policy_fl.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
543,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,15,Alachua County,FL
544,2010.0,All other alcohol-induced causes,A9,25,Alachua County,FL
545,2010.0,All other non-drug and non-alcohol causes,O9,1672,Alachua County,FL
546,2010.0,All other non-drug and non-alcohol causes,O9,226,Baker County,FL
547,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22,Bay County,FL

In [19]:
# subset to mortality to drug related causes

post_policy_fl_drug = post_policy_fl[
    (post_policy_fl["Drug/Alcohol Induced Cause Code"] == "D1")
    | (post_policy_fl["Drug/Alcohol Induced Cause Code"] == "D2")
    | (post_policy_fl["Drug/Alcohol Induced Cause Code"] == "D4")
    | (post_policy_fl["Drug/Alcohol Induced Cause Code"] == "D9")
]
post_policy_fl_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
543,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,15,Alachua County,FL
547,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22,Bay County,FL
551,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,119,Brevard County,FL
552,2010.0,Drug poisonings (overdose) Suicide (X60-X64),D2,16,Brevard County,FL
555,2010.0,Drug poisonings (overdose) Unintentional (X40-...,D1,205,Broward County,FL

In [20]:
import warnings

warnings.filterwarnings("ignore")

# convert column Deaths to float datatype to prepare for sum in the next step

post_policy_fl_drug["Deaths"] = post_policy_fl_drug["Deaths"].astype(float)

In [21]:
# arrange by unique identifier: Year-State-County

post_policy_fl_drug = post_policy_fl_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()

post_policy_fl_drug.head()

     Year State            County  Deaths
0  2010.0    FL    Alachua County    15.0
1  2010.0    FL        Bay County    22.0
2  2010.0    FL    Brevard County   135.0
3  2010.0    FL    Broward County   262.0
4  2010.0    FL  Charlotte County    17.0

In [22]:
# convert year datatype from float to int

post_policy_fl_drug["Year"] = post_policy_fl_drug["Year"].astype(int)
post_policy_fl_drug.head()

   Year State            County  Deaths
0  2010    FL    Alachua County    15.0
1  2010    FL        Bay County    22.0
2  2010    FL    Brevard County   135.0
3  2010    FL    Broward County   262.0
4  2010    FL  Charlotte County    17.0

### Merge Mortality Data with Population Data to Calculate Mortality Rate

In [23]:
# load pre-policy population the data

fl_pop_pre_policy = pd.read_excel("./Population/fl_pop_2000-2010.xls", header=[3])

In [24]:
fl_pop_pre_policy

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
0,Florida,15982571.0,16047515.0,16356966.0,16689370.0,17004085.0,17415318.0,17842038.0,18166990.0,18367842.0,18527305.0,18652644.0,18801310.0,18843326.0
1,.Alachua County,217964.0,218611.0,221718.0,224614.0,227022.0,229867.0,233756.0,239506.0,242685.0,244888.0,246657.0,247336.0,247497.0
2,.Baker County,22255.0,22374.0,22620.0,23298.0,23555.0,24142.0,24832.0,25571.0,26212.0,26725.0,27124.0,27115.0,27106.0
3,.Bay County,148270.0,148393.0,150207.0,152741.0,155044.0,158804.0,162917.0,165644.0,165345.0,166267.0,167464.0,168852.0,169272.0
4,.Bradford County,26096.0,26064.0,26083.0,26306.0,27035.0,27703.0,28098.0,28506.0,28825.0,28961.0,28979.0,28520.0,28480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# keep columns with population data from 2003 to 2009; rename 'Unnamed: 0' to County

fl_pop_pre_policy = fl_pop_pre_policy.drop(
    ["Unnamed: 1", 2000, 2001, 2002, "Unnamed: 12", "Unnamed: 13"], axis=1
)
fl_pop_pre_policy = fl_pop_pre_policy.rename(columns={"Unnamed: 0": "County"})
fl_pop_pre_policy

,County,2003,2004,2005,2006,2007,2008,2009
0,Florida,17004085.0,17415318.0,17842038.0,18166990.0,18367842.0,18527305.0,18652644.0
1,.Alachua County,227022.0,229867.0,233756.0,239506.0,242685.0,244888.0,246657.0
2,.Baker County,23555.0,24142.0,24832.0,25571.0,26212.0,26725.0,27124.0
3,.Bay County,155044.0,158804.0,162917.0,165644.0,165345.0,166267.0,167464.0
4,.Bradford County,27035.0,27703.0,28098.0,28506.0,28825.0,28961.0,28979.0
...,...,...,...,...,...,...,...,...
71,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# check last n rows with NaN values to determine the number of rows to drop

fl_pop_pre_policy.iloc[-9:]

,County,2003,2004,2005,2006,2007,2008,2009
67,.Washington County,21537.0,21967.0,22216.0,22860.0,23469.0,24706.0,24693.0
68,"1 The April 1, 2000 Population Estimates base ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,"2 The data source for April 1, 2010 is the 201...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,"3 The values for July 1, 2010 were produced by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# remove first row - total state population and last 8 rows with NaN values

fl_pop_pre_policy.drop(fl_pop_pre_policy.head(1).index, inplace=True)
fl_pop_pre_policy.drop(fl_pop_pre_policy.tail(8).index, inplace=True)
fl_pop_pre_policy

,County,2003,2004,2005,2006,2007,2008,2009
1,.Alachua County,227022.0,229867.0,233756.0,239506.0,242685.0,244888.0,246657.0
2,.Baker County,23555.0,24142.0,24832.0,25571.0,26212.0,26725.0,27124.0
3,.Bay County,155044.0,158804.0,162917.0,165644.0,165345.0,166267.0,167464.0
4,.Bradford County,27035.0,27703.0,28098.0,28506.0,28825.0,28961.0,28979.0
5,.Brevard County,504847.0,518722.0,529907.0,535138.0,539719.0,542378.0,542109.0
...,...,...,...,...,...,...,...,...
63,.Union County,13787.0,14470.0,14856.0,14873.0,15419.0,15718.0,15340.0
64,.Volusia County,466074.0,476845.0,486297.0,494748.0,498935.0,497366.0,494688.0
65,.Wakulla County,25062.0,25832.0,26706.0,27785.0,28588.0,29183.0,30459.0
66,.Walton County,45578.0,47518.0,49392.0,51145.0,52355.0,53563.0,54534.0
67,.Washington County,21537.0,21967.0,22216.0,22860.0,23469.0,24706.0,24693.0

In [28]:
# remove the first character '.' in County Names

fl_pop_pre_policy["County"] = fl_pop_pre_policy["County"].str[1:]
fl_pop_pre_policy

,County,2003,2004,2005,2006,2007,2008,2009
1,Alachua County,227022.0,229867.0,233756.0,239506.0,242685.0,244888.0,246657.0
2,Baker County,23555.0,24142.0,24832.0,25571.0,26212.0,26725.0,27124.0
3,Bay County,155044.0,158804.0,162917.0,165644.0,165345.0,166267.0,167464.0
4,Bradford County,27035.0,27703.0,28098.0,28506.0,28825.0,28961.0,28979.0
5,Brevard County,504847.0,518722.0,529907.0,535138.0,539719.0,542378.0,542109.0
...,...,...,...,...,...,...,...,...
63,Union County,13787.0,14470.0,14856.0,14873.0,15419.0,15718.0,15340.0
64,Volusia County,466074.0,476845.0,486297.0,494748.0,498935.0,497366.0,494688.0
65,Wakulla County,25062.0,25832.0,26706.0,27785.0,28588.0,29183.0,30459.0
66,Walton County,45578.0,47518.0,49392.0,51145.0,52355.0,53563.0,54534.0
67,Washington County,21537.0,21967.0,22216.0,22860.0,23469.0,24706.0,24693.0

In [29]:
# melt the data and arrange columns by unique identifier: Year-County

melted = fl_pop_pre_policy.melt(id_vars=["County"])
melted = melted.rename(columns={"variable": "Year", "value": "Population"})
melted = melted.groupby(["Year", "County"], as_index=False).sum()
melted

     Year             County  Population
0    2003     Alachua County    227022.0
1    2003       Baker County     23555.0
2    2003         Bay County    155044.0
3    2003    Bradford County     27035.0
4    2003     Brevard County    504847.0
..    ...                ...         ...
464  2009       Union County     15340.0
465  2009     Volusia County    494688.0
466  2009     Wakulla County     30459.0
467  2009      Walton County     54534.0
468  2009  Washington County     24693.0

[469 rows x 3 columns]

In [30]:
# merge population data with pre policy drug mortality data

merged = pre_policy_fl_drug.merge(melted, how="left")
merged

     Year State            County  Deaths  Population
0    2003    FL    Alachua County    11.0    227022.0
1    2003    FL        Bay County    21.0    155044.0
2    2003    FL    Brevard County    97.0    504847.0
3    2003    FL    Broward County   230.0   1707543.0
4    2003    FL     Citrus County    16.0    126215.0
..    ...   ...               ...     ...         ...
233  2009    FL   Sarasota County    75.0    377262.0
234  2009    FL   Seminole County    72.0    419788.0
235  2009    FL  St. Johns County    11.0    186281.0
236  2009    FL  St. Lucie County    46.0    274344.0
237  2009    FL    Volusia County   106.0    494688.0

[238 rows x 5 columns]

In [31]:
# create county mortality rate column

merged["Mortality Rate"] = merged["Deaths"] / merged["Population"]
merged

     Year State            County  Deaths  Population  Mortality Rate
0    2003    FL    Alachua County    11.0    227022.0        0.000048
1    2003    FL        Bay County    21.0    155044.0        0.000135
2    2003    FL    Brevard County    97.0    504847.0        0.000192
3    2003    FL    Broward County   230.0   1707543.0        0.000135
4    2003    FL     Citrus County    16.0    126215.0        0.000127
..    ...   ...               ...     ...         ...             ...
233  2009    FL   Sarasota County    75.0    377262.0        0.000199
234  2009    FL   Seminole County    72.0    419788.0        0.000172
235  2009    FL  St. Johns County    11.0    186281.0        0.000059
236  2009    FL  St. Lucie County    46.0    274344.0        0.000168
237  2009    FL    Volusia County   106.0    494688.0        0.000214

[238 rows x 6 columns]

In [32]:
# export it to pdf
# fl_pre_policy_mortality = merged.to_csv("fl_pre_policy_mortality.csv")

#### Repeat the steps for post-policy population data

In [33]:
!pwd

/Users/Jennie/Downloads/IDS-720-practical-data-science/project-opiod-policies

In [34]:
# load post-policy population the data

fl_pop_post_policy = pd.read_excel("./Population/fl_pop_2010-2019.xlsx", header=[3])

In [35]:
fl_pop_post_policy

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Florida,18801310.0,18804564.0,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0,20613477.0,20963613.0,21244317.0,21477737.0
1,".Alachua County, Florida",247336.0,247337.0,247614.0,249834.0,251520.0,252475.0,255456.0,259052.0,263959.0,266309.0,268851.0,269043.0
2,".Baker County, Florida",27115.0,27115.0,27066.0,27049.0,27053.0,27009.0,27122.0,27355.0,27884.0,28254.0,28353.0,29210.0
3,".Bay County, Florida",168852.0,168850.0,169206.0,169555.0,171757.0,174596.0,178289.0,181488.0,183634.0,184736.0,186240.0,174705.0
4,".Bradford County, Florida",28520.0,28519.0,28536.0,28431.0,27051.0,26802.0,26552.0,26748.0,26740.0,27142.0,27752.0,28201.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# keep columns with population data from 2010 to 2015; rename 'Unnamed: 0' to County

fl_pop_post_policy = fl_pop_post_policy.drop(
    ["Census", "Estimates Base", 2016, 2017, 2018, 2019], axis=1
)
fl_pop_post_policy = fl_pop_post_policy.rename(columns={"Unnamed: 0": "County"})
fl_pop_post_policy

,County,2010,2011,2012,2013,2014,2015
0,Florida,18845537.0,19053237.0,19297822.0,19545621.0,19845911.0,20209042.0
1,".Alachua County, Florida",247614.0,249834.0,251520.0,252475.0,255456.0,259052.0
2,".Baker County, Florida",27066.0,27049.0,27053.0,27009.0,27122.0,27355.0
3,".Bay County, Florida",169206.0,169555.0,171757.0,174596.0,178289.0,181488.0
4,".Bradford County, Florida",28536.0,28431.0,27051.0,26802.0,26552.0,26748.0
...,...,...,...,...,...,...,...
68,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN
69,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN
70,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN
71,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN
72,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# check last n rows with NaN values to determine the number of rows to drop

fl_pop_post_policy.iloc[-6:]

,County,2010,2011,2012,2013,2014,2015
67,".Washington County, Florida",24720.0,24510.0,24741.0,24504.0,24299.0,24552.0
68,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN
69,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN
70,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN
71,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN
72,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# remove first row - total state population and last 5 rows with NaN values

fl_pop_post_policy.drop(fl_pop_post_policy.head(1).index, inplace=True)
fl_pop_post_policy.drop(fl_pop_post_policy.tail(5).index, inplace=True)
fl_pop_post_policy

,County,2010,2011,2012,2013,2014,2015
1,".Alachua County, Florida",247614.0,249834.0,251520.0,252475.0,255456.0,259052.0
2,".Baker County, Florida",27066.0,27049.0,27053.0,27009.0,27122.0,27355.0
3,".Bay County, Florida",169206.0,169555.0,171757.0,174596.0,178289.0,181488.0
4,".Bradford County, Florida",28536.0,28431.0,27051.0,26802.0,26552.0,26748.0
5,".Brevard County, Florida",543965.0,544359.0,546966.0,550255.0,555548.0,565746.0
...,...,...,...,...,...,...,...
63,".Union County, Florida",15542.0,15302.0,15255.0,15160.0,15258.0,15265.0
64,".Volusia County, Florida",494440.0,494464.0,496535.0,500438.0,506715.0,516730.0
65,".Wakulla County, Florida",30825.0,30973.0,30859.0,31004.0,31416.0,31523.0
66,".Walton County, Florida",55217.0,55602.0,57190.0,59193.0,61186.0,63066.0
67,".Washington County, Florida",24720.0,24510.0,24741.0,24504.0,24299.0,24552.0

In [39]:
# remove the first character '.' in County Names

fl_pop_post_policy["County"] = fl_pop_post_policy["County"].str[1:]
fl_pop_post_policy

,County,2010,2011,2012,2013,2014,2015
1,"Alachua County, Florida",247614.0,249834.0,251520.0,252475.0,255456.0,259052.0
2,"Baker County, Florida",27066.0,27049.0,27053.0,27009.0,27122.0,27355.0
3,"Bay County, Florida",169206.0,169555.0,171757.0,174596.0,178289.0,181488.0
4,"Bradford County, Florida",28536.0,28431.0,27051.0,26802.0,26552.0,26748.0
5,"Brevard County, Florida",543965.0,544359.0,546966.0,550255.0,555548.0,565746.0
...,...,...,...,...,...,...,...
63,"Union County, Florida",15542.0,15302.0,15255.0,15160.0,15258.0,15265.0
64,"Volusia County, Florida",494440.0,494464.0,496535.0,500438.0,506715.0,516730.0
65,"Wakulla County, Florida",30825.0,30973.0,30859.0,31004.0,31416.0,31523.0
66,"Walton County, Florida",55217.0,55602.0,57190.0,59193.0,61186.0,63066.0
67,"Washington County, Florida",24720.0,24510.0,24741.0,24504.0,24299.0,24552.0

In [40]:
# melt the data and arrange columns by unique identifier: Year-County

melted1 = fl_pop_post_policy.melt(id_vars=["County"])
melted1 = melted1.rename(columns={"variable": "Year", "value": "Population"})
melted1 = melted1.groupby(["Year", "County"], as_index=False).sum()
melted1

     Year                      County  Population
0    2010     Alachua County, Florida    247614.0
1    2010       Baker County, Florida     27066.0
2    2010         Bay County, Florida    169206.0
3    2010    Bradford County, Florida     28536.0
4    2010     Brevard County, Florida    543965.0
..    ...                         ...         ...
397  2015       Union County, Florida     15265.0
398  2015     Volusia County, Florida    516730.0
399  2015     Wakulla County, Florida     31523.0
400  2015      Walton County, Florida     63066.0
401  2015  Washington County, Florida     24552.0

[402 rows x 3 columns]

In [41]:
# reformat County column to County name only

melted1[["County1", "State"]] = melted1.County.str.split(", ", expand=True)
melted1.head()

   Year                    County  Population          County1    State
0  2010   Alachua County, Florida    247614.0   Alachua County  Florida
1  2010     Baker County, Florida     27066.0     Baker County  Florida
2  2010       Bay County, Florida    169206.0       Bay County  Florida
3  2010  Bradford County, Florida     28536.0  Bradford County  Florida
4  2010   Brevard County, Florida    543965.0   Brevard County  Florida

In [42]:
# drop columnes: County, State; rename County1 to County

melted1 = melted1.drop(["County", "State"], axis=1)
melted1 = melted1.rename(columns={"County1": "County"})
melted1.head()

   Year  Population           County
0  2010    247614.0   Alachua County
1  2010     27066.0     Baker County
2  2010    169206.0       Bay County
3  2010     28536.0  Bradford County
4  2010    543965.0   Brevard County

In [43]:
# merge population data with post policy drug mortality data

merged1 = post_policy_fl_drug.merge(melted1, how="left")
merged1

     Year State            County  Deaths  Population
0    2010    FL    Alachua County    15.0    247614.0
1    2010    FL        Bay County    22.0    169206.0
2    2010    FL    Brevard County   135.0    543965.0
3    2010    FL    Broward County   262.0   1752803.0
4    2010    FL  Charlotte County    17.0    159875.0
..    ...   ...               ...     ...         ...
215  2015    FL   Seminole County    63.0    448318.0
216  2015    FL  St. Johns County    17.0    226362.0
217  2015    FL  St. Lucie County    51.0    297282.0
218  2015    FL     Sumter County    12.0    117076.0
219  2015    FL    Volusia County    98.0    516730.0

[220 rows x 5 columns]

In [44]:
# create county mortality rate column

merged1["Mortality Rate"] = merged["Deaths"] / merged["Population"]
merged1

     Year State            County  Deaths  Population  Mortality Rate
0    2010    FL    Alachua County    15.0    247614.0        0.000048
1    2010    FL        Bay County    22.0    169206.0        0.000135
2    2010    FL    Brevard County   135.0    543965.0        0.000192
3    2010    FL    Broward County   262.0   1752803.0        0.000135
4    2010    FL  Charlotte County    17.0    159875.0        0.000127
..    ...   ...               ...     ...         ...             ...
215  2015    FL   Seminole County    63.0    448318.0        0.000250
216  2015    FL  St. Johns County    17.0    226362.0        0.000222
217  2015    FL  St. Lucie County    51.0    297282.0        0.000226
218  2015    FL     Sumter County    12.0    117076.0        0.000108
219  2015    FL    Volusia County    98.0    516730.0        0.000152

[220 rows x 6 columns]

In [45]:
# export it to pdf
# fl_post_policy_mortality = merged.to_csv("fl_post_policy_mortality.csv")