In [1]:
import numpy as np
import pandas as pd

In [2]:
use_cols = ["BUYER_STATE","BUYER_COUNTY","DRUG_CODE","QUANTITY","UNIT","CALC_BASE_WT_IN_GM","DOSAGE_UNIT","TRANSACTION_ID","Measure","dos_str","TRANSACTION_DATE"]

In [3]:
import pandas as pd
df = pd.read_csv('/Users/dapoadegbile/Desktop/720Python/arcos-fl-statewide-itemized.csv.gz',  compression='gzip', usecols = use_cols,
                chunksize = 1000000,
                error_bad_lines=False)

In [4]:
df

In [5]:
df1 = pd.DataFrame()
for i in df:
    a = pd.DataFrame(i)
    df1 = df1.append(a)

# for d,i in df.iterrows():
#     print(d)
#     break

In [6]:
df1

,BUYER_STATE,BUYER_COUNTY,DRUG_CODE,QUANTITY,UNIT,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,TRANSACTION_ID,Measure,dos_str
0,FL,PALM BEACH,9143,1.0,NaN,8182006,3.5860,100.0,4912,TAB,40.0
1,FL,PALM BEACH,9143,8.0,NaN,11292006,7.1720,800.0,9219,TAB,10.0
2,FL,PALM BEACH,9143,3.0,NaN,2062007,21.5160,300.0,1819,TAB,80.0
3,FL,PALM BEACH,9143,3.0,NaN,3012007,21.5160,300.0,281,TAB,80.0
4,FL,PALM BEACH,9143,6.0,NaN,4162007,5.3790,600.0,5390,TAB,10.0
...,...,...,...,...,...,...,...,...,...,...,...
15104978,FL,HILLSBOROUGH,9143,100.0,NaN,12042008,268.9500,10000.0,1658,TAB,30.0
15104979,FL,HILLSBOROUGH,9193,1.0,NaN,8132009,3.0270,500.0,3025,TAB,10.0
15104980,FL,HILLSBOROUGH,9193,5.0,NaN,12302009,1.5135,500.0,4947,TAB,5.0
15104981,FL,HILLSBOROUGH,9143,25.0,NaN,3182010,67.2375,2500.0,3310,TAB,30.0
15104982,FL,HILLSBOROUGH,9143,48.0,NaN,3022011,129.0960,4800.0,872,TAB,30.0

In [56]:
df1['TRANSACTION_ID'].nunique()

5996524

In [87]:
from datetime import datetime

df1['TRANSACTION_DATE'].astype(str).str[-4:]

0           2006
1           2006
2           2007
3           2007
4           2007
            ...
15104978    2008
15104979    2009
15104980    2009
15104981    2010
15104982    2011
Name: TRANSACTION_DATE, Length: 15104983, dtype: object

In [ ]:
station_list = []
for i in df:
    stations = i[i[‘id’].isin(station_ids)]
    if stations.empty:# Drop the empty dataframe, only keep the chunk with valid entries
        continue
    else:
        station_list.append(stations)
# Unlist and convert to df
df1 = pd.DataFrame()
for i in station_list:
    a = pd.DataFrame(i)
    df1 = df1.append(a)