## Texas Pre and Post Policy Mortality Rate by Year-State-County from Drug Induced Cause

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

### Texas Pre-Policy Mortality

In [3]:
# load mortality the data

death03 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2003.txt",
    error_bad_lines=False,
    sep="\t",
)
death04 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2004.txt",
    error_bad_lines=False,
    sep="\t",
)
death05 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2005.txt",
    error_bad_lines=False,
    sep="\t",
)
death06 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2006.txt",
    error_bad_lines=False,
    sep="\t",
)
death07 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2007.txt",
    error_bad_lines=False,
    sep="\t",
)
death08 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2008.txt",
    error_bad_lines=False,
    sep="\t",
)
death09 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2009.txt",
    error_bad_lines=False,
    sep="\t",
)
death10 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2010.txt",
    error_bad_lines=False,
    sep="\t",
)
death11 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2011.txt",
    error_bad_lines=False,
    sep="\t",
)
death12 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2012.txt",
    error_bad_lines=False,
    sep="\t",
)
death13 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2013.txt",
    error_bad_lines=False,
    sep="\t",
)
death14 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2014.txt",
    error_bad_lines=False,
    sep="\t",
)
death15 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2015.txt",
    error_bad_lines=False,
    sep="\t",
)

In [4]:
# concatinate all pre-policy data

pre_policy = pd.concat(
    [death03, death04, death05, death06],
    ignore_index=True,
)

In [5]:
pre_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,NaN,"Barbour County, AL",1005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...,...
16741,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16742,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
16743,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16744,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16745,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# subset to Texas data and reformat County column

pre_policy[["County1", "State"]] = pre_policy.County.str.split(",", expand=True)
pre_policy_tx = pre_policy[pre_policy["State"] == " TX"]
pre_policy_tx.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
3318,NaN,"Anderson County, TX",48001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,583.0,Anderson County,TX
3319,NaN,"Andrews County, TX",48003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,105.0,Andrews County,TX
3320,NaN,"Angelina County, TX",48005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,784.0,Angelina County,TX
3321,NaN,"Aransas County, TX",48007.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,255.0,Aransas County,TX
3322,NaN,"Archer County, TX",48009.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,66.0,Archer County,TX

In [7]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

pre_policy_tx = pre_policy_tx.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
pre_policy_tx = pre_policy_tx.rename(columns={"County1": "County"})

In [8]:
pre_policy_tx.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3318,2003.0,All other non-drug and non-alcohol causes,O9,583.0,Anderson County,TX
3319,2003.0,All other non-drug and non-alcohol causes,O9,105.0,Andrews County,TX
3320,2003.0,All other non-drug and non-alcohol causes,O9,784.0,Angelina County,TX
3321,2003.0,All other non-drug and non-alcohol causes,O9,255.0,Aransas County,TX
3322,2003.0,All other non-drug and non-alcohol causes,O9,66.0,Archer County,TX

In [9]:
len(pre_policy_tx["County"].unique())

248

In [10]:
# obtain codes for mortality for drug related causes

pre_policy_tx.groupby(
    ["Drug/Alcohol Induced Cause Code", "Drug/Alcohol Induced Cause"], as_index=False
).mean()

,Drug/Alcohol Induced Cause Code,Drug/Alcohol Induced Cause,Year,Deaths
0,A1,"Alcohol poisonings (overdose) (X45, X65, Y15)",2004.000000,13.000000
1,A9,All other alcohol-induced causes,2004.571429,38.010989
2,D1,Drug poisonings (overdose) Unintentional (X40-...,2004.627273,43.345455
3,D2,Drug poisonings (overdose) Suicide (X60-X64),2004.478261,25.956522
4,D4,Drug poisonings (overdose) Undetermined (Y10-Y14),2004.250000,17.500000
5,D9,All other drug-induced causes,2004.578947,21.842105
6,O9,All other non-drug and non-alcohol causes,2004.497972,616.221095

In [11]:
# subset to mortality to drug related causes

pre_policy_tx_drug = pre_policy_tx[
    (pre_policy_tx["Drug/Alcohol Induced Cause Code"] == "D1")
    | (pre_policy_tx["Drug/Alcohol Induced Cause Code"] == "D2")
    | (pre_policy_tx["Drug/Alcohol Induced Cause Code"] == "D4")
    | (pre_policy_tx["Drug/Alcohol Induced Cause Code"] == "D9")
]

In [12]:
pre_policy_tx_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3333,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,84.0,Bexar County,TX
3334,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,25.0,Bexar County,TX
3335,2003.0,All other drug-induced causes,D9,54.0,Bexar County,TX
3341,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0,Brazoria County,TX
3367,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0,Collin County,TX

In [13]:
# arrange by unique identifier: Year-State-County

pre_policy_tx_drug = pre_policy_tx_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()
pre_policy_tx_drug.head()

     Year State           County  Deaths
0  2003.0    TX     Bexar County   163.0
1  2003.0    TX  Brazoria County    13.0
2  2003.0    TX    Collin County    26.0
3  2003.0    TX     Comal County    10.0
4  2003.0    TX    Dallas County   199.0

In [14]:
# convert year datatype from float to int

pre_policy_tx_drug["Year"] = pre_policy_tx_drug["Year"].astype(int)
pre_policy_tx_drug.head()

   Year State           County  Deaths
0  2003    TX     Bexar County   163.0
1  2003    TX  Brazoria County    13.0
2  2003    TX    Collin County    26.0
3  2003    TX     Comal County    10.0
4  2003    TX    Dallas County   199.0

### Texas Post-Policy Mortality

In [15]:
# concatinate all post-policy data

post_policy = pd.concat(
    [death07, death08, death09, death10, death11, death12, death13, death14, death15],
    ignore_index=True,
)

In [16]:
post_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,399
1,NaN,"Baldwin County, AL",1003.0,2007.0,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,24
2,NaN,"Baldwin County, AL",1003.0,2007.0,2007.0,All other alcohol-induced causes,A9,20
3,NaN,"Baldwin County, AL",1003.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,1633
4,NaN,"Barbour County, AL",1005.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,248
...,...,...,...,...,...,...,...,...
40685,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40686,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
40687,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40688,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40689,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# subset to Texas data

post_policy[["County1", "State"]] = post_policy.County.str.split(",", expand=True)
post_policy_tx = post_policy[post_policy["State"] == " TX"]
post_policy_tx.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
3505,NaN,"Anderson County, TX",48001.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,536,Anderson County,TX
3506,NaN,"Andrews County, TX",48003.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,124,Andrews County,TX
3507,NaN,"Angelina County, TX",48005.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,757,Angelina County,TX
3508,NaN,"Aransas County, TX",48007.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,271,Aransas County,TX
3509,NaN,"Archer County, TX",48009.0,2007.0,2007.0,All other non-drug and non-alcohol causes,O9,59,Archer County,TX

In [18]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

post_policy_tx = post_policy_tx.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
post_policy_tx = post_policy_tx.rename(columns={"County1": "County"})
post_policy_tx.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3505,2007.0,All other non-drug and non-alcohol causes,O9,536,Anderson County,TX
3506,2007.0,All other non-drug and non-alcohol causes,O9,124,Andrews County,TX
3507,2007.0,All other non-drug and non-alcohol causes,O9,757,Angelina County,TX
3508,2007.0,All other non-drug and non-alcohol causes,O9,271,Aransas County,TX
3509,2007.0,All other non-drug and non-alcohol causes,O9,59,Archer County,TX

In [19]:
# subset to mortality to drug related causes

post_policy_tx_drug = post_policy_tx[
    (post_policy_tx["Drug/Alcohol Induced Cause Code"] == "D1")
    | (post_policy_tx["Drug/Alcohol Induced Cause Code"] == "D2")
    | (post_policy_tx["Drug/Alcohol Induced Cause Code"] == "D4")
    | (post_policy_tx["Drug/Alcohol Induced Cause Code"] == "D9")
]
post_policy_tx_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3518,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10,Bell County,TX
3521,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,104,Bexar County,TX
3527,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,22,Brazoria County,TX
3540,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11,Cameron County,TX
3554,2007.0,Drug poisonings (overdose) Unintentional (X40-...,D1,23,Collin County,TX

In [20]:
import warnings

warnings.filterwarnings("ignore")

# convert column Deaths to float datatype to prepare for sum in the next step

post_policy_tx_drug["Deaths"] = post_policy_tx_drug["Deaths"].astype(float)

In [21]:
# arrange by unique identifier: Year-State-County

post_policy_tx_drug = post_policy_tx_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()

post_policy_tx_drug.head()

     Year State           County  Deaths
0  2007.0    TX      Bell County    10.0
1  2007.0    TX     Bexar County   104.0
2  2007.0    TX  Brazoria County    22.0
3  2007.0    TX   Cameron County    11.0
4  2007.0    TX    Collin County    23.0

In [22]:
# convert year datatype from float to int

post_policy_tx_drug["Year"] = post_policy_tx_drug["Year"].astype(int)
post_policy_tx_drug.head()

   Year State           County  Deaths
0  2007    TX      Bell County    10.0
1  2007    TX     Bexar County   104.0
2  2007    TX  Brazoria County    22.0
3  2007    TX   Cameron County    11.0
4  2007    TX    Collin County    23.0

### Merge Mortality Data with Population Data to Calculate Mortality Rate

In [23]:
# load pre-policy population the data

tx_pop_09 = pd.read_excel("./Population/tx_pop_2000-2010.xls", header=[3])
tx_pop_19 = pd.read_excel("./Population/tx_pop_2010-2019.xlsx", header=[3])

In [24]:
tx_pop_09.head()

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
0,Texas,20851028.0,20944499.0,21319622.0,21690325.0,22030931.0,22394023.0,22778123.0,23359580.0,23831983.0,24309039.0,24801761.0,25145561.0,25257114.0
1,.Anderson County,55114.0,55062.0,54263.0,54740.0,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0,58458.0,58452.0
2,.Andrews County,13002.0,12949.0,12856.0,13022.0,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0,14786.0,14833.0
3,.Angelina County,80123.0,80270.0,80273.0,80803.0,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0,86771.0,86953.0
4,.Aransas County,22457.0,22452.0,22287.0,22616.0,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0,23158.0,23151.0

In [25]:
tx_pop_19.head()

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Texas,25145561.0,25146091.0,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0,27914410.0,28295273.0,28628666.0,28995881.0
1,".Anderson County, Texas",58458.0,58452.0,58493.0,58394.0,58059.0,57960.0,57829.0,57639.0,57526.0,58175.0,57974.0,57735.0
2,".Andrews County, Texas",14786.0,14786.0,14849.0,15386.0,16105.0,16779.0,17435.0,18072.0,17791.0,17603.0,18011.0,18705.0
3,".Angelina County, Texas",86771.0,86771.0,86905.0,87297.0,87509.0,87312.0,87567.0,87829.0,87682.0,87572.0,86810.0,86715.0
4,".Aransas County, Texas",23158.0,23158.0,23181.0,23216.0,23459.0,23889.0,24566.0,24800.0,25162.0,25392.0,23446.0,23510.0

#### Format Texas population data 2000-2009 and 2010-2019 before concatenate to one dataset, and subset to pre and post policy periods

#### Population data 2000-2009

In [26]:
# keep columns with population data from 2003 to 2009; rename 'Unnamed: 0' to County

tx_pop_09 = tx_pop_09.drop(
    ["Unnamed: 1", 2000, 2001, 2002, "Unnamed: 12", "Unnamed: 13"], axis=1
)
tx_pop_09 = tx_pop_09.rename(columns={"Unnamed: 0": "County"})
tx_pop_09.head()

,County,2003,2004,2005,2006,2007,2008,2009
0,Texas,22030931.0,22394023.0,22778123.0,23359580.0,23831983.0,24309039.0,24801761.0
1,.Anderson County,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0
2,.Andrews County,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0
3,.Angelina County,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0
4,.Aransas County,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0

In [27]:
# check last n rows with NaN values to determine the number of rows to drop

tx_pop_09.iloc[-9:]

,County,2003,2004,2005,2006,2007,2008,2009
254,.Zavala County,11513.0,11512.0,11565.0,11642.0,11657.0,11725.0,11544.0
255,"1 The April 1, 2000 Population Estimates base ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,"2 The data source for April 1, 2010 is the 201...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,"3 The values for July 1, 2010 were produced by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# remove first row - total state population and last 8 rows with NaN values

tx_pop_09.drop(tx_pop_09.head(1).index, inplace=True)
tx_pop_09.drop(tx_pop_09.tail(8).index, inplace=True)
tx_pop_09

,County,2003,2004,2005,2006,2007,2008,2009
1,.Anderson County,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0
2,.Andrews County,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0
3,.Angelina County,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0
4,.Aransas County,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0
5,.Archer County,9013.0,9078.0,9068.0,9063.0,9026.0,9104.0,9023.0
...,...,...,...,...,...,...,...,...
250,.Wood County,38915.0,39600.0,39917.0,41099.0,41414.0,41722.0,41870.0
251,.Yoakum County,7235.0,7362.0,7404.0,7404.0,7588.0,7765.0,7908.0
252,.Young County,17892.0,17921.0,17801.0,18227.0,18135.0,18104.0,18466.0
253,.Zapata County,12584.0,12727.0,13043.0,13069.0,13388.0,13640.0,13876.0
254,.Zavala County,11513.0,11512.0,11565.0,11642.0,11657.0,11725.0,11544.0

#### Population data 2010-2019

In [29]:
# keep columns with population data from 2010 to 2015; rename 'Unnamed: 0' to County

tx_pop_19 = tx_pop_19.drop(["Census", "Estimates Base", 2016, 2017, 2018, 2019], axis=1)
tx_pop_19 = tx_pop_19.rename(columns={"Unnamed: 0": "County"})
tx_pop_19.head()

,County,2010,2011,2012,2013,2014,2015
0,Texas,25241971.0,25645629.0,26084481.0,26480266.0,26964333.0,27470056.0
1,".Anderson County, Texas",58493.0,58394.0,58059.0,57960.0,57829.0,57639.0
2,".Andrews County, Texas",14849.0,15386.0,16105.0,16779.0,17435.0,18072.0
3,".Angelina County, Texas",86905.0,87297.0,87509.0,87312.0,87567.0,87829.0
4,".Aransas County, Texas",23181.0,23216.0,23459.0,23889.0,24566.0,24800.0

In [30]:
# check last n rows with NaN values to determine the number of rows to drop

tx_pop_19.iloc[-6:]

,County,2010,2011,2012,2013,2014,2015
254,".Zavala County, Texas",11729.0,11875.0,12014.0,12195.0,12243.0,12310.0
255,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN
256,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN
257,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN
258,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN
259,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# remove first row - total state population and last 5 rows with NaN values

tx_pop_19.drop(tx_pop_19.head(1).index, inplace=True)
tx_pop_19.drop(tx_pop_19.tail(5).index, inplace=True)
tx_pop_19

,County,2010,2011,2012,2013,2014,2015
1,".Anderson County, Texas",58493.0,58394.0,58059.0,57960.0,57829.0,57639.0
2,".Andrews County, Texas",14849.0,15386.0,16105.0,16779.0,17435.0,18072.0
3,".Angelina County, Texas",86905.0,87297.0,87509.0,87312.0,87567.0,87829.0
4,".Aransas County, Texas",23181.0,23216.0,23459.0,23889.0,24566.0,24800.0
5,".Archer County, Texas",9118.0,8840.0,8816.0,8801.0,8844.0,8763.0
...,...,...,...,...,...,...,...
250,".Wood County, Texas",41977.0,42092.0,42383.0,42346.0,42764.0,43117.0
251,".Yoakum County, Texas",7851.0,7971.0,8055.0,8222.0,8398.0,8644.0
252,".Young County, Texas",18522.0,18355.0,18278.0,18354.0,18274.0,18163.0
253,".Zapata County, Texas",14087.0,14227.0,14276.0,14385.0,14376.0,14493.0
254,".Zavala County, Texas",11729.0,11875.0,12014.0,12195.0,12243.0,12310.0

In [32]:
# reformat County column to County name only

tx_pop_19[["County1", "State"]] = tx_pop_19.County.str.split(", ", expand=True)
tx_pop_19.head()

,County,2010,2011,2012,2013,2014,2015,County1,State
1,".Anderson County, Texas",58493.0,58394.0,58059.0,57960.0,57829.0,57639.0,.Anderson County,Texas
2,".Andrews County, Texas",14849.0,15386.0,16105.0,16779.0,17435.0,18072.0,.Andrews County,Texas
3,".Angelina County, Texas",86905.0,87297.0,87509.0,87312.0,87567.0,87829.0,.Angelina County,Texas
4,".Aransas County, Texas",23181.0,23216.0,23459.0,23889.0,24566.0,24800.0,.Aransas County,Texas
5,".Archer County, Texas",9118.0,8840.0,8816.0,8801.0,8844.0,8763.0,.Archer County,Texas

In [33]:
# drop columnes: County, State

tx_pop_19 = tx_pop_19.drop(["County", "State"], axis=1)
tx_pop_19.head()

      2010     2011     2012     2013     2014     2015           County1
1  58493.0  58394.0  58059.0  57960.0  57829.0  57639.0  .Anderson County
2  14849.0  15386.0  16105.0  16779.0  17435.0  18072.0   .Andrews County
3  86905.0  87297.0  87509.0  87312.0  87567.0  87829.0  .Angelina County
4  23181.0  23216.0  23459.0  23889.0  24566.0  24800.0   .Aransas County
5   9118.0   8840.0   8816.0   8801.0   8844.0   8763.0    .Archer County

In [34]:
# concatenate tx_pop_09 and tx_pop_09

tx_pop = pd.concat([tx_pop_09, tx_pop_19], axis=1)
tx_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,County1
1,.Anderson County,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0,58493.0,58394.0,58059.0,57960.0,57829.0,57639.0,.Anderson County
2,.Andrews County,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0,14849.0,15386.0,16105.0,16779.0,17435.0,18072.0,.Andrews County
3,.Angelina County,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0,86905.0,87297.0,87509.0,87312.0,87567.0,87829.0,.Angelina County
4,.Aransas County,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0,23181.0,23216.0,23459.0,23889.0,24566.0,24800.0,.Aransas County
5,.Archer County,9013.0,9078.0,9068.0,9063.0,9026.0,9104.0,9023.0,9118.0,8840.0,8816.0,8801.0,8844.0,8763.0,.Archer County

In [35]:
# drop duplicate column -- County1

tx_pop = tx_pop.drop(["County1"], axis=1)
tx_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,.Anderson County,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0,58493.0,58394.0,58059.0,57960.0,57829.0,57639.0
2,.Andrews County,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0,14849.0,15386.0,16105.0,16779.0,17435.0,18072.0
3,.Angelina County,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0,86905.0,87297.0,87509.0,87312.0,87567.0,87829.0
4,.Aransas County,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0,23181.0,23216.0,23459.0,23889.0,24566.0,24800.0
5,.Archer County,9013.0,9078.0,9068.0,9063.0,9026.0,9104.0,9023.0,9118.0,8840.0,8816.0,8801.0,8844.0,8763.0

In [36]:
# remove the first character '.' in County Names

tx_pop["County"] = tx_pop["County"].str[1:]
tx_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Anderson County,56068.0,56245.0,56873.0,57386.0,57870.0,57963.0,58410.0,58493.0,58394.0,58059.0,57960.0,57829.0,57639.0
2,Andrews County,12976.0,13006.0,13016.0,13195.0,13513.0,14099.0,14601.0,14849.0,15386.0,16105.0,16779.0,17435.0,18072.0
3,Angelina County,81510.0,82070.0,82553.0,83810.0,84518.0,84961.0,86029.0,86905.0,87297.0,87509.0,87312.0,87567.0,87829.0
4,Aransas County,22843.0,23067.0,23561.0,23395.0,23172.0,23225.0,23291.0,23181.0,23216.0,23459.0,23889.0,24566.0,24800.0
5,Archer County,9013.0,9078.0,9068.0,9063.0,9026.0,9104.0,9023.0,9118.0,8840.0,8816.0,8801.0,8844.0,8763.0

In [37]:
# melt the data and arrange columns by unique identifier: Year-County

melted = tx_pop.melt(id_vars=["County"])
melted = melted.rename(columns={"variable": "Year", "value": "Population"})
melted = melted.groupby(["Year", "County"], as_index=False).sum()
melted

      Year           County  Population
0     2003  Anderson County     56068.0
1     2003   Andrews County     12976.0
2     2003  Angelina County     81510.0
3     2003   Aransas County     22843.0
4     2003    Archer County      9013.0
...    ...              ...         ...
3297  2015      Wood County     43117.0
3298  2015    Yoakum County      8644.0
3299  2015     Young County     18163.0
3300  2015    Zapata County     14493.0
3301  2015    Zavala County     12310.0

[3302 rows x 3 columns]

In [38]:
# subset tx_pop for pre (before 2007) and post policy (starting 2007) periods

tx_pop_pre_policy = melted[melted["Year"] < 2007]
tx_pop_post_policy = melted[melted["Year"] >= 2007]

In [39]:
# merge population data with pre policy drug mortality data

merged_pre = pre_policy_tx_drug.merge(tx_pop_pre_policy, how="left")
merged_pre

     Year State             County  Deaths  Population
0    2003    TX       Bexar County   163.0   1469623.0
1    2003    TX    Brazoria County    13.0    261269.0
2    2003    TX      Collin County    26.0    589394.0
3    2003    TX       Comal County    10.0     84837.0
4    2003    TX      Dallas County   199.0   2246432.0
..    ...   ...                ...     ...         ...
107  2006    TX     Tarrant County   117.0   1662005.0
108  2006    TX   Tom Green County    10.0    106125.0
109  2006    TX      Travis County    99.0    925151.0
110  2006    TX     Wichita County    19.0    131376.0
111  2006    TX  Williamson County    23.0    351970.0

[112 rows x 5 columns]

In [40]:
# create county mortality rate column

merged_pre["Mortality Rate"] = merged_pre["Deaths"] / merged_pre["Population"]
merged_pre

     Year State             County  Deaths  Population  Mortality Rate
0    2003    TX       Bexar County   163.0   1469623.0        0.000111
1    2003    TX    Brazoria County    13.0    261269.0        0.000050
2    2003    TX      Collin County    26.0    589394.0        0.000044
3    2003    TX       Comal County    10.0     84837.0        0.000118
4    2003    TX      Dallas County   199.0   2246432.0        0.000089
..    ...   ...                ...     ...         ...             ...
107  2006    TX     Tarrant County   117.0   1662005.0        0.000070
108  2006    TX   Tom Green County    10.0    106125.0        0.000094
109  2006    TX      Travis County    99.0    925151.0        0.000107
110  2006    TX     Wichita County    19.0    131376.0        0.000145
111  2006    TX  Williamson County    23.0    351970.0        0.000065

[112 rows x 6 columns]

In [41]:
# export it to pdf
# tx_pre_policy_mortality = merged_pre.to_csv("tx_pre_policy_mortality.csv")

#### Repeat the steps for post-policy population data

In [42]:
# merge population data with post policy drug mortality data

merged_post = post_policy_tx_drug.merge(tx_pop_post_policy, how="left")
merged_post

     Year State             County  Deaths  Population
0    2007    TX        Bell County    10.0    287752.0
1    2007    TX       Bexar County   104.0   1615210.0
2    2007    TX    Brazoria County    22.0    293296.0
3    2007    TX     Cameron County    11.0    386306.0
4    2007    TX      Collin County    23.0    714330.0
..    ...   ...                ...     ...         ...
315  2015    TX   Tom Green County    10.0    117514.0
316  2015    TX      Travis County   136.0   1179805.0
317  2015    TX        Webb County    24.0    269865.0
318  2015    TX     Wichita County    17.0    130961.0
319  2015    TX  Williamson County    27.0    507133.0

[320 rows x 5 columns]

In [43]:
# create county mortality rate column

merged_post["Mortality Rate"] = merged_post["Deaths"] / merged_post["Population"]
merged_post

     Year State             County  Deaths  Population  Mortality Rate
0    2007    TX        Bell County    10.0    287752.0        0.000035
1    2007    TX       Bexar County   104.0   1615210.0        0.000064
2    2007    TX    Brazoria County    22.0    293296.0        0.000075
3    2007    TX     Cameron County    11.0    386306.0        0.000028
4    2007    TX      Collin County    23.0    714330.0        0.000032
..    ...   ...                ...     ...         ...             ...
315  2015    TX   Tom Green County    10.0    117514.0        0.000085
316  2015    TX      Travis County   136.0   1179805.0        0.000115
317  2015    TX        Webb County    24.0    269865.0        0.000089
318  2015    TX     Wichita County    17.0    130961.0        0.000130
319  2015    TX  Williamson County    27.0    507133.0        0.000053

[320 rows x 6 columns]

In [44]:
# export it to pdf
# tx_post_policy_mortality = merged_post.to_csv("tx_post_policy_mortality.csv")