## Washington Pre and Post Policy Mortality Rate by Year-State-County from Drug Induced Cause

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

### Washington Pre-Policy Mortality

In [3]:
# load mortality the data

death03 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2003.txt",
    error_bad_lines=False,
    sep="\t",
)
death04 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2004.txt",
    error_bad_lines=False,
    sep="\t",
)
death05 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2005.txt",
    error_bad_lines=False,
    sep="\t",
)
death06 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2006.txt",
    error_bad_lines=False,
    sep="\t",
)
death07 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2007.txt",
    error_bad_lines=False,
    sep="\t",
)
death08 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2008.txt",
    error_bad_lines=False,
    sep="\t",
)
death09 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2009.txt",
    error_bad_lines=False,
    sep="\t",
)
death10 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2010.txt",
    error_bad_lines=False,
    sep="\t",
)
death11 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2011.txt",
    error_bad_lines=False,
    sep="\t",
)
death12 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2012.txt",
    error_bad_lines=False,
    sep="\t",
)
death13 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2013.txt",
    error_bad_lines=False,
    sep="\t",
)
death14 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2014.txt",
    error_bad_lines=False,
    sep="\t",
)
death15 = pd.read_csv(
    "./US_VitalStatistics/Underlying Cause of Death, 2015.txt",
    error_bad_lines=False,
    sep="\t",
)

In [4]:
# concatinate all pre-policy data

pre_policy = pd.concat(
    [death03, death04, death05, death06, death07, death08, death09, death10, death11],
    ignore_index=True,
)

In [5]:
pre_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,397.0
1,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
2,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other alcohol-induced causes,A9,14.0
3,NaN,"Baldwin County, AL",1003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1479.0
4,NaN,"Barbour County, AL",1005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,287.0
...,...,...,...,...,...,...,...,...
38809,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38810,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
38811,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38812,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38813,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# subset to Washington data and reformat County column

pre_policy[["County1", "State"]] = pre_policy.County.str.split(",", expand=True)
pre_policy_wa = pre_policy[pre_policy["State"] == " WA"]
pre_policy_wa.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
3834,NaN,"Adams County, WA",53001.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,112.0,Adams County,WA
3835,NaN,"Asotin County, WA",53003.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,187.0,Asotin County,WA
3836,NaN,"Benton County, WA",53005.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,Benton County,WA
3837,NaN,"Benton County, WA",53005.0,2003.0,2003.0,All other alcohol-induced causes,A9,15.0,Benton County,WA
3838,NaN,"Benton County, WA",53005.0,2003.0,2003.0,All other non-drug and non-alcohol causes,O9,1014.0,Benton County,WA

In [7]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

pre_policy_wa = pre_policy_wa.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
pre_policy_wa = pre_policy_wa.rename(columns={"County1": "County"})

In [8]:
pre_policy_wa.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3834,2003.0,All other non-drug and non-alcohol causes,O9,112.0,Adams County,WA
3835,2003.0,All other non-drug and non-alcohol causes,O9,187.0,Asotin County,WA
3836,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,Benton County,WA
3837,2003.0,All other alcohol-induced causes,A9,15.0,Benton County,WA
3838,2003.0,All other non-drug and non-alcohol causes,O9,1014.0,Benton County,WA

In [9]:
len(pre_policy_wa["County"].unique())

39

In [10]:
# obtain codes for mortality for drug related causes

pre_policy_wa.groupby(
    ["Drug/Alcohol Induced Cause Code", "Drug/Alcohol Induced Cause"], as_index=False
).mean()

,Drug/Alcohol Induced Cause Code,Drug/Alcohol Induced Cause,Year,Deaths
0,A1,"Alcohol poisonings (overdose) (X45, X65, Y15)",2008.666667,11.000000
1,A9,All other alcohol-induced causes,2007.126667,37.693333
2,D1,Drug poisonings (overdose) Unintentional (X40-...,2007.149254,42.850746
3,D2,Drug poisonings (overdose) Suicide (X60-X64),2007.000000,19.682927
4,D4,Drug poisonings (overdose) Undetermined (Y10-Y14),2006.571429,15.571429
5,D9,All other drug-induced causes,2006.625000,13.375000
6,O9,All other non-drug and non-alcohol causes,2007.000000,1167.666667

In [11]:
# subset to mortality to drug related causes

pre_policy_wa_drug = pre_policy_wa[
    (pre_policy_wa["Drug/Alcohol Induced Cause Code"] == "D1")
    | (pre_policy_wa["Drug/Alcohol Induced Cause Code"] == "D2")
    | (pre_policy_wa["Drug/Alcohol Induced Cause Code"] == "D4")
    | (pre_policy_wa["Drug/Alcohol Induced Cause Code"] == "D9")
]

In [12]:
pre_policy_wa_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
3836,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0,Benton County,WA
3842,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,30.0,Clark County,WA
3843,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,10.0,Clark County,WA
3858,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,132.0,King County,WA
3859,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,30.0,King County,WA

In [13]:
# arrange by unique identifier: Year-State-County

pre_policy_wa_drug = pre_policy_wa_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()
pre_policy_wa_drug.head()

     Year State         County  Deaths
0  2003.0    WA  Benton County    10.0
1  2003.0    WA   Clark County    40.0
2  2003.0    WA    King County   205.0
3  2003.0    WA  Kitsap County    23.0
4  2003.0    WA  Pierce County    87.0

In [14]:
# convert year datatype from float to int

pre_policy_wa_drug["Year"] = pre_policy_wa_drug["Year"].astype(int)
pre_policy_wa_drug.head()

   Year State         County  Deaths
0  2003    WA  Benton County    10.0
1  2003    WA   Clark County    40.0
2  2003    WA    King County   205.0
3  2003    WA  Kitsap County    23.0
4  2003    WA  Pierce County    87.0

### Washington Post-Policy Mortality

In [15]:
# concatinate all post-policy data

post_policy = pd.concat([death12, death13, death14, death15], ignore_index=True)

In [16]:
post_policy

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,508
1,NaN,"Baldwin County, AL",1003.0,2012.0,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,24
2,NaN,"Baldwin County, AL",1003.0,2012.0,2012.0,All other alcohol-induced causes,A9,20
3,NaN,"Baldwin County, AL",1003.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,1746
4,NaN,"Barbour County, AL",1005.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,270
...,...,...,...,...,...,...,...,...
18617,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18618,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
18619,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18620,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18621,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# subset to Washington data

post_policy[["County1", "State"]] = post_policy.County.str.split(",", expand=True)
post_policy_wa = post_policy[post_policy["State"] == " WA"]
post_policy_wa.head()

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County1,State
4247,NaN,"Adams County, WA",53001.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,112,Adams County,WA
4248,NaN,"Asotin County, WA",53003.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,251,Asotin County,WA
4249,NaN,"Benton County, WA",53005.0,2012.0,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,16,Benton County,WA
4250,NaN,"Benton County, WA",53005.0,2012.0,2012.0,All other alcohol-induced causes,A9,19,Benton County,WA
4251,NaN,"Benton County, WA",53005.0,2012.0,2012.0,All other non-drug and non-alcohol causes,O9,1201,Benton County,WA

In [18]:
# drop columnes: Notes, County, County Code, Year Code; rename County1 to County

post_policy_wa = post_policy_wa.drop(
    ["Notes", "County", "County Code", "Year Code"], axis=1
)
post_policy_wa = post_policy_wa.rename(columns={"County1": "County"})
post_policy_wa.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
4247,2012.0,All other non-drug and non-alcohol causes,O9,112,Adams County,WA
4248,2012.0,All other non-drug and non-alcohol causes,O9,251,Asotin County,WA
4249,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,16,Benton County,WA
4250,2012.0,All other alcohol-induced causes,A9,19,Benton County,WA
4251,2012.0,All other non-drug and non-alcohol causes,O9,1201,Benton County,WA

In [19]:
# subset to mortality to drug related causes

post_policy_wa_drug = post_policy_wa[
    (post_policy_wa["Drug/Alcohol Induced Cause Code"] == "D1")
    | (post_policy_wa["Drug/Alcohol Induced Cause Code"] == "D2")
    | (post_policy_wa["Drug/Alcohol Induced Cause Code"] == "D4")
    | (post_policy_wa["Drug/Alcohol Induced Cause Code"] == "D9")
]
post_policy_wa_drug.head()

,Year,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,County,State
4249,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,16,Benton County,WA
4254,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,12,Clallam County,WA
4257,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,52,Clark County,WA
4258,2012.0,Drug poisonings (overdose) Suicide (X60-X64),D2,10,Clark County,WA
4262,2012.0,Drug poisonings (overdose) Unintentional (X40-...,D1,23,Cowlitz County,WA

In [20]:
import warnings

warnings.filterwarnings("ignore")

# convert column Deaths to float datatype to prepare for sum in the next step

post_policy_wa_drug["Deaths"] = post_policy_wa_drug["Deaths"].astype(float)

In [21]:
# arrange by unique identifier: Year-State-County

post_policy_wa_drug = post_policy_wa_drug.groupby(
    ["Year", "State", "County"], as_index=False
).sum()

post_policy_wa_drug.head()

     Year State               County  Deaths
0  2012.0    WA        Benton County    16.0
1  2012.0    WA       Clallam County    12.0
2  2012.0    WA         Clark County    62.0
3  2012.0    WA       Cowlitz County    23.0
4  2012.0    WA  Grays Harbor County    11.0

In [22]:
# convert year datatype from float to int

post_policy_wa_drug["Year"] = post_policy_wa_drug["Year"].astype(int)
post_policy_wa_drug.head()

   Year State               County  Deaths
0  2012    WA        Benton County    16.0
1  2012    WA       Clallam County    12.0
2  2012    WA         Clark County    62.0
3  2012    WA       Cowlitz County    23.0
4  2012    WA  Grays Harbor County    11.0

### Merge Mortality Data with Population Data to Calculate Mortality Rate

In [23]:
# load pre-policy population the data

wa_pop_09 = pd.read_excel("./Population/wa_pop_2000-2010.xls", header=[3])
wa_pop_19 = pd.read_excel("./Population/wa_pop_2010-2019.xlsx", header=[3])

In [24]:
wa_pop_09.head()

,Unnamed: 0,Unnamed: 1,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,Unnamed: 12,Unnamed: 13
0,Washington,5894281.0,5910512.0,5985722.0,6052349.0,6104115.0,6178645.0,6257305.0,6370753.0,6461587.0,6562231.0,6667426.0,6724540.0,6744496.0
1,.Adams County,16426.0,16458.0,16259.0,16445.0,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0,18728.0,18821.0
2,.Asotin County,20553.0,20546.0,20447.0,20490.0,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0,21623.0,21688.0
3,.Benton County,142473.0,143131.0,145909.0,150323.0,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0,175177.0,176455.0
4,.Chelan County,66611.0,66648.0,66574.0,66742.0,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0,72453.0,72735.0

In [25]:
wa_pop_19.head()

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Washington,6724540.0,6724540.0,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0,7294771.0,7423362.0,7523869.0,7614893.0
1,".Adams County, Washington",18728.0,18731.0,18790.0,18877.0,18944.0,19098.0,19177.0,19233.0,19369.0,19651.0,19736.0,19983.0
2,".Asotin County, Washington",21623.0,21623.0,21725.0,21971.0,21909.0,22129.0,22190.0,22113.0,22286.0,22509.0,22616.0,22582.0
3,".Benton County, Washington",175177.0,175168.0,176465.0,180436.0,182373.0,184318.0,186489.0,190218.0,193494.0,198200.0,201286.0,204390.0
4,".Chelan County, Washington",72453.0,72460.0,72750.0,73214.0,73472.0,73723.0,74121.0,75041.0,75855.0,76298.0,76752.0,77200.0

#### Format Washington population data 2000-2009 and 2010-2019 before concatenate to one dataset, and subset to pre and post policy periods

#### Population data 2000-2009

In [26]:
# keep columns with population data from 2003 to 2009; rename 'Unnamed: 0' to County

wa_pop_09 = wa_pop_09.drop(
    ["Unnamed: 1", 2000, 2001, 2002, "Unnamed: 12", "Unnamed: 13"], axis=1
)
wa_pop_09 = wa_pop_09.rename(columns={"Unnamed: 0": "County"})
wa_pop_09.head()

,County,2003,2004,2005,2006,2007,2008,2009
0,Washington,6104115.0,6178645.0,6257305.0,6370753.0,6461587.0,6562231.0,6667426.0
1,.Adams County,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0
2,.Asotin County,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0
3,.Benton County,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0
4,.Chelan County,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0

In [27]:
# check last n rows with NaN values to determine the number of rows to drop

wa_pop_09.iloc[-9:]

,County,2003,2004,2005,2006,2007,2008,2009
39,.Yakima County,225161.0,227280.0,228570.0,230617.0,232733.0,235272.0,239604.0
40,"1 The April 1, 2000 Population Estimates base ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,"2 The data source for April 1, 2010 is the 201...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,"3 The values for July 1, 2010 were produced by...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Note: All geographic boundaries for the 2000-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Table 1. Intercensal Estimates of the Resident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Release Date: September 2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# remove first row - total state population and last 8 rows with NaN values

wa_pop_09.drop(wa_pop_09.head(1).index, inplace=True)
wa_pop_09.drop(wa_pop_09.tail(8).index, inplace=True)
wa_pop_09

,County,2003,2004,2005,2006,2007,2008,2009
1,.Adams County,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0
2,.Asotin County,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0
3,.Benton County,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0
4,.Chelan County,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0
5,.Clallam County,66301.0,67411.0,68720.0,69642.0,70186.0,70769.0,71077.0
6,.Clark County,374098.0,384931.0,394277.0,401698.0,408820.0,415282.0,421236.0
7,.Columbia County,4003.0,4027.0,3974.0,3895.0,3897.0,3903.0,3977.0
8,.Cowlitz County,94516.0,95541.0,96536.0,99162.0,100744.0,101688.0,102126.0
9,.Douglas County,33481.0,34086.0,34622.0,35558.0,36503.0,37216.0,37935.0
10,.Ferry County,7424.0,7478.0,7495.0,7562.0,7430.0,7439.0,7538.0
11,.Franklin County,55447.0,58165.0,61360.0,64585.0,67586.0,70775.0,74478.0
12,.Garfield County,2316.0,2270.0,2274.0,2245.0,2203.0,2244.0,2237.0
13,.Grant County,77955.0,78734.0,79531.0,81036.0,82645.0,84944.0,87340.0
14,.Grays Harbor County,69065.0,69775.0,70423.0,71256.0,71827.0,72027.0,72468.0
15,.Island County,74670.0,77667.0,77589.0,79136.0,78726.0,78375.0,78248.0
16,.Jefferson County,27588.0,27949.0,28506.0,29239.0,29346.0,29648.0,29714.0
17,.King County,1763440.0,1775297.0,1795268.0,1822967.0,1847986.0,1875020.0,1912012.0
18,.Kitsap County,239758.0,241960.0,239806.0,245054.0,244105.0,246912.0,248800.0
19,.Kittitas County,35726.0,36921.0,37537.0,38680.0,39158.0,40015.0,40466.0
20,.Klickitat County,19242.0,19232.0,19279.0,19701.0,19898.0,20135.0,20164.0
21,.Lewis County,70366.0,71021.0,72060.0,73318.0,74229.0,74899.0,75316.0
22,.Lincoln County,10206.0,10442.0,10350.0,10418.0,10509.0,10608.0,10570.0
23,.Mason County,52351.0,53819.0,55198.0,56872.0,58679.0,59785.0,60333.0
24,.Okanogan County,38575.0,38847.0,39143.0,39322.0,39676.0,40235.0,40699.0
25,.Pacific County,20885.0,20953.0,21228.0,21326.0,21415.0,21305.0,21026.0
26,.Pend Oreille County,12029.0,12244.0,12357.0,12681.0,12828.0,12985.0,13043.0
27,.Pierce County,733969.0,740137.0,748148.0,763408.0,772484.0,785400.0,796483.0
28,.San Juan County,14787.0,15071.0,15167.0,15270.0,15400.0,15590.0,15714.0
29,.Skagit County,107369.0,109030.0,110683.0,112621.0,114066.0,115808.0,116557.0
30,.Skamania County,10046.0,10236.0,10303.0,10583.0,10786.0,10918.0,10955.0
31,.Snohomish County,635612.0,643533.0,654849.0,670706.0,683997.0,694622.0,706302.0
32,.Spokane County,430710.0,435268.0,440439.0,447517.0,456150.0,462263.0,468235.0
33,.Stevens County,40589.0,41022.0,41612.0,42366.0,43059.0,43398.0,43548.0
34,.Thurston County,219499.0,222985.0,227023.0,232688.0,237772.0,244332.0,249936.0
35,.Wahkiakum County,3662.0,3729.0,3824.0,3936.0,3975.0,4033.0,3995.0
36,.Walla Walla County,56108.0,56652.0,56569.0,56705.0,56840.0,57315.0,58103.0
37,.Whatcom County,177851.0,181756.0,185450.0,188926.0,192837.0,196708.0,199865.0
38,.Whitman County,41442.0,42158.0,42836.0,42827.0,42608.0,43802.0,44705.0
39,.Yakima County,225161.0,227280.0,228570.0,230617.0,232733.0,235272.0,239604.0

#### Population data 2010-2019

In [29]:
# keep columns with population data from 2010 to 2015; rename 'Unnamed: 0' to County

wa_pop_19 = wa_pop_19.drop(["Census", "Estimates Base", 2016, 2017, 2018, 2019], axis=1)
wa_pop_19 = wa_pop_19.rename(columns={"Unnamed: 0": "County"})
wa_pop_19.head()

,County,2010,2011,2012,2013,2014,2015
0,Washington,6742830.0,6826627.0,6897058.0,6963985.0,7054655.0,7163657.0
1,".Adams County, Washington",18790.0,18877.0,18944.0,19098.0,19177.0,19233.0
2,".Asotin County, Washington",21725.0,21971.0,21909.0,22129.0,22190.0,22113.0
3,".Benton County, Washington",176465.0,180436.0,182373.0,184318.0,186489.0,190218.0
4,".Chelan County, Washington",72750.0,73214.0,73472.0,73723.0,74121.0,75041.0

In [30]:
# check last n rows with NaN values to determine the number of rows to drop

wa_pop_19.iloc[-6:]

,County,2010,2011,2012,2013,2014,2015
39,".Yakima County, Washington",244256.0,245926.0,246127.0,246485.0,246870.0,247800.0
40,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN
41,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN
42,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN,NaN,NaN
43,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN
44,Release Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# remove first row - total state population and last 5 rows with NaN values

wa_pop_19.drop(wa_pop_19.head(1).index, inplace=True)
wa_pop_19.drop(wa_pop_19.tail(5).index, inplace=True)
wa_pop_19

,County,2010,2011,2012,2013,2014,2015
1,".Adams County, Washington",18790.0,18877.0,18944.0,19098.0,19177.0,19233.0
2,".Asotin County, Washington",21725.0,21971.0,21909.0,22129.0,22190.0,22113.0
3,".Benton County, Washington",176465.0,180436.0,182373.0,184318.0,186489.0,190218.0
4,".Chelan County, Washington",72750.0,73214.0,73472.0,73723.0,74121.0,75041.0
5,".Clallam County, Washington",71503.0,71762.0,71766.0,72046.0,72467.0,73202.0
6,".Clark County, Washington",426704.0,432283.0,436361.0,441341.0,448202.0,456939.0
7,".Columbia County, Washington",4094.0,4005.0,3977.0,4002.0,3985.0,3960.0
8,".Cowlitz County, Washington",102358.0,102309.0,101663.0,101483.0,101790.0,102999.0
9,".Douglas County, Washington",38514.0,38662.0,39197.0,39387.0,39773.0,40545.0
10,".Ferry County, Washington",7545.0,7639.0,7663.0,7594.0,7592.0,7520.0
11,".Franklin County, Washington",79077.0,83051.0,85698.0,86448.0,87665.0,88727.0
12,".Garfield County, Washington",2261.0,2237.0,2209.0,2237.0,2201.0,2222.0
13,".Grant County, Washington",89558.0,90594.0,91300.0,91701.0,92897.0,93527.0
14,".Grays Harbor County, Washington",72848.0,72366.0,71773.0,71046.0,70780.0,71011.0
15,".Island County, Washington",78693.0,78941.0,79039.0,78198.0,78690.0,80022.0
16,".Jefferson County, Washington",29899.0,29853.0,29800.0,30004.0,30147.0,30339.0
17,".King County, Washington",1938351.0,1974200.0,2011197.0,2047223.0,2085225.0,2126178.0
18,".Kitsap County, Washington",251681.0,254297.0,254339.0,252401.0,253387.0,259232.0
19,".Kittitas County, Washington",40990.0,41554.0,41624.0,41828.0,42596.0,43095.0
20,".Klickitat County, Washington",20376.0,20689.0,20638.0,20871.0,20863.0,21005.0
21,".Lewis County, Washington",75502.0,75668.0,75435.0,74962.0,74844.0,75437.0
22,".Lincoln County, Washington",10573.0,10526.0,10429.0,10295.0,10224.0,10285.0
23,".Mason County, Washington",60733.0,60870.0,60681.0,60474.0,60604.0,60991.0
24,".Okanogan County, Washington",41229.0,41334.0,41183.0,41053.0,41236.0,41356.0
25,".Pacific County, Washington",20879.0,20884.0,20582.0,20442.0,20564.0,20869.0
26,".Pend Oreille County, Washington",12950.0,12954.0,13003.0,12885.0,12919.0,13087.0
27,".Pierce County, Washington",795390.0,807623.0,815535.0,821012.0,832696.0,843778.0
28,".San Juan County, Washington",15783.0,15845.0,15848.0,15909.0,16009.0,16198.0
29,".Skagit County, Washington",116944.0,117578.0,117714.0,118255.0,119966.0,121559.0
30,".Skamania County, Washington",11116.0,11154.0,11200.0,11308.0,11377.0,11375.0
31,".Snohomish County, Washington",715500.0,722068.0,732097.0,744112.0,757239.0,769698.0
32,".Spokane County, Washington",472081.0,473436.0,475447.0,478332.0,482857.0,488610.0
33,".Stevens County, Washington",43472.0,43453.0,43483.0,43271.0,43479.0,43553.0
34,".Thurston County, Washington",253001.0,256386.0,258527.0,261852.0,264909.0,267978.0
35,".Wahkiakum County, Washington",3983.0,3992.0,4000.0,4034.0,4043.0,4023.0
36,".Walla Walla County, Washington",58915.0,59444.0,59329.0,59361.0,59510.0,59932.0
37,".Whatcom County, Washington",201545.0,203490.0,204863.0,206073.0,208154.0,211836.0
38,".Whitman County, Washington",44796.0,45056.0,46633.0,46792.0,46918.0,48164.0
39,".Yakima County, Washington",244256.0,245926.0,246127.0,246485.0,246870.0,247800.0

In [32]:
# reformat County column to County name only

wa_pop_19[["County1", "State"]] = wa_pop_19.County.str.split(", ", expand=True)
wa_pop_19.head()

,County,2010,2011,2012,2013,2014,2015,County1,State
1,".Adams County, Washington",18790.0,18877.0,18944.0,19098.0,19177.0,19233.0,.Adams County,Washington
2,".Asotin County, Washington",21725.0,21971.0,21909.0,22129.0,22190.0,22113.0,.Asotin County,Washington
3,".Benton County, Washington",176465.0,180436.0,182373.0,184318.0,186489.0,190218.0,.Benton County,Washington
4,".Chelan County, Washington",72750.0,73214.0,73472.0,73723.0,74121.0,75041.0,.Chelan County,Washington
5,".Clallam County, Washington",71503.0,71762.0,71766.0,72046.0,72467.0,73202.0,.Clallam County,Washington

In [33]:
# drop columnes: County, State

wa_pop_19 = wa_pop_19.drop(["County", "State"], axis=1)
wa_pop_19.head()

       2010      2011      2012      2013      2014      2015          County1
1   18790.0   18877.0   18944.0   19098.0   19177.0   19233.0    .Adams County
2   21725.0   21971.0   21909.0   22129.0   22190.0   22113.0   .Asotin County
3  176465.0  180436.0  182373.0  184318.0  186489.0  190218.0   .Benton County
4   72750.0   73214.0   73472.0   73723.0   74121.0   75041.0   .Chelan County
5   71503.0   71762.0   71766.0   72046.0   72467.0   73202.0  .Clallam County

In [34]:
# concatenate wa_pop_09 and wa_pop_09

wa_pop = pd.concat([wa_pop_09, wa_pop_19], axis=1)
wa_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,County1
1,.Adams County,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0,18790.0,18877.0,18944.0,19098.0,19177.0,19233.0,.Adams County
2,.Asotin County,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0,21725.0,21971.0,21909.0,22129.0,22190.0,22113.0,.Asotin County
3,.Benton County,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0,176465.0,180436.0,182373.0,184318.0,186489.0,190218.0,.Benton County
4,.Chelan County,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0,72750.0,73214.0,73472.0,73723.0,74121.0,75041.0,.Chelan County
5,.Clallam County,66301.0,67411.0,68720.0,69642.0,70186.0,70769.0,71077.0,71503.0,71762.0,71766.0,72046.0,72467.0,73202.0,.Clallam County

In [35]:
# drop duplicate column -- County1

wa_pop = wa_pop.drop(["County1"], axis=1)
wa_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,.Adams County,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0,18790.0,18877.0,18944.0,19098.0,19177.0,19233.0
2,.Asotin County,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0,21725.0,21971.0,21909.0,22129.0,22190.0,22113.0
3,.Benton County,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0,176465.0,180436.0,182373.0,184318.0,186489.0,190218.0
4,.Chelan County,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0,72750.0,73214.0,73472.0,73723.0,74121.0,75041.0
5,.Clallam County,66301.0,67411.0,68720.0,69642.0,70186.0,70769.0,71077.0,71503.0,71762.0,71766.0,72046.0,72467.0,73202.0

In [36]:
# remove the first character '.' in County Names

wa_pop["County"] = wa_pop["County"].str[1:]
wa_pop.head()

,County,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Adams County,16612.0,16664.0,16918.0,16997.0,17413.0,17782.0,18405.0,18790.0,18877.0,18944.0,19098.0,19177.0,19233.0
2,Asotin County,20487.0,20783.0,20908.0,21133.0,21188.0,21393.0,21415.0,21725.0,21971.0,21909.0,22129.0,22190.0,22113.0
3,Benton County,153596.0,155689.0,157726.0,159564.0,161669.0,166573.0,171122.0,176465.0,180436.0,182373.0,184318.0,186489.0,190218.0
4,Chelan County,67173.0,67882.0,68747.0,69536.0,70214.0,70813.0,71679.0,72750.0,73214.0,73472.0,73723.0,74121.0,75041.0
5,Clallam County,66301.0,67411.0,68720.0,69642.0,70186.0,70769.0,71077.0,71503.0,71762.0,71766.0,72046.0,72467.0,73202.0

In [37]:
# melt the data and arrange columns by unique identifier: Year-County

melted = wa_pop.melt(id_vars=["County"])
melted = melted.rename(columns={"variable": "Year", "value": "Population"})
melted = melted.groupby(["Year", "County"], as_index=False).sum()
melted

     Year              County  Population
0    2003        Adams County     16612.0
1    2003       Asotin County     20487.0
2    2003       Benton County    153596.0
3    2003       Chelan County     67173.0
4    2003      Clallam County     66301.0
..    ...                 ...         ...
502  2015    Wahkiakum County      4023.0
503  2015  Walla Walla County     59932.0
504  2015      Whatcom County    211836.0
505  2015      Whitman County     48164.0
506  2015       Yakima County    247800.0

[507 rows x 3 columns]

In [38]:
# subset wa_pop for pre (before 2012) and post policy (starting 2012) periods

wa_pop_pre_policy = melted[melted["Year"] < 2012]
wa_pop_post_policy = melted[melted["Year"] >= 2012]

In [39]:
# merge population data with pre policy drug mortality data

merged_pre = pre_policy_wa_drug.merge(wa_pop_pre_policy, how="left")
merged_pre

     Year State            County  Deaths  Population
0    2003    WA     Benton County    10.0    153596.0
1    2003    WA      Clark County    40.0    374098.0
2    2003    WA       King County   205.0   1763440.0
3    2003    WA     Kitsap County    23.0    239758.0
4    2003    WA     Pierce County    87.0    733969.0
..    ...   ...               ...     ...         ...
129  2011    WA  Snohomish County   168.0    722068.0
130  2011    WA    Spokane County    73.0    473436.0
131  2011    WA   Thurston County    27.0    256386.0
132  2011    WA    Whatcom County    19.0    203490.0
133  2011    WA     Yakima County    14.0    245926.0

[134 rows x 5 columns]

In [40]:
# create county mortality rate column

merged_pre["Mortality Rate"] = merged_pre["Deaths"] / merged_pre["Population"]
merged_pre

     Year State            County  Deaths  Population  Mortality Rate
0    2003    WA     Benton County    10.0    153596.0        0.000065
1    2003    WA      Clark County    40.0    374098.0        0.000107
2    2003    WA       King County   205.0   1763440.0        0.000116
3    2003    WA     Kitsap County    23.0    239758.0        0.000096
4    2003    WA     Pierce County    87.0    733969.0        0.000119
..    ...   ...               ...     ...         ...             ...
129  2011    WA  Snohomish County   168.0    722068.0        0.000233
130  2011    WA    Spokane County    73.0    473436.0        0.000154
131  2011    WA   Thurston County    27.0    256386.0        0.000105
132  2011    WA    Whatcom County    19.0    203490.0        0.000093
133  2011    WA     Yakima County    14.0    245926.0        0.000057

[134 rows x 6 columns]

In [41]:
# export it to pdf
# wa_pre_policy_mortality = merged_pre.to_csv("wa_pre_policy_mortality.csv")

#### Repeat the steps for post-policy population data

In [42]:
# merge population data with post policy drug mortality data

merged_post = post_policy_wa_drug.merge(wa_pop_post_policy, how="left")
merged_post

    Year State               County  Deaths  Population
0   2012    WA        Benton County    16.0    182373.0
1   2012    WA       Clallam County    12.0     71766.0
2   2012    WA         Clark County    62.0    436361.0
3   2012    WA       Cowlitz County    23.0    101663.0
4   2012    WA  Grays Harbor County    11.0     71773.0
..   ...   ...                  ...     ...         ...
59  2015    WA     Snohomish County   127.0    769698.0
60  2015    WA       Spokane County    92.0    488610.0
61  2015    WA      Thurston County    26.0    267978.0
62  2015    WA       Whatcom County    23.0    211836.0
63  2015    WA        Yakima County    26.0    247800.0

[64 rows x 5 columns]

In [43]:
# create county mortality rate column

merged_post["Mortality Rate"] = merged_post["Deaths"] / merged_post["Population"]
merged_post

    Year State               County  Deaths  Population  Mortality Rate
0   2012    WA        Benton County    16.0    182373.0        0.000088
1   2012    WA       Clallam County    12.0     71766.0        0.000167
2   2012    WA         Clark County    62.0    436361.0        0.000142
3   2012    WA       Cowlitz County    23.0    101663.0        0.000226
4   2012    WA  Grays Harbor County    11.0     71773.0        0.000153
..   ...   ...                  ...     ...         ...             ...
59  2015    WA     Snohomish County   127.0    769698.0        0.000165
60  2015    WA       Spokane County    92.0    488610.0        0.000188
61  2015    WA      Thurston County    26.0    267978.0        0.000097
62  2015    WA       Whatcom County    23.0    211836.0        0.000109
63  2015    WA        Yakima County    26.0    247800.0        0.000105

[64 rows x 6 columns]

In [44]:
# export it to pdf
# wa_post_policy_mortality = merged_post.to_csv("wa_post_policy_mortality.csv")